*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerOfShoppingList{
    width: 100vw;
    height: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.createNewItem {
    width: auto;
    height: auto;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}

/* Input of search items*/
.searchItems{
    width: 472px;
    height: 40px;
    background-color: #F5F5F5;
    border-radius: 80px;
}

/* Main content */

.mainShoppingList{
    position: relative;
    top: 120px;
    margin-left: 128px;
}

.newItemForAdd{
    display: none;
    flex-direction: column;
    margin-top: 56px;
}

.titleNewItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.closeAddItem{
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 20.33px;
    display: flex;
    align-self: flex-start;
}

.textNewItem{
    margin-bottom: 8px;
}


.allFormsAddItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formAddMarginLeft{
    margin-left: 40px;
}


.formAddItem{
    display: flex;
    flex-direction: column;
}


.textInputItem{
    color: #666666;
    font-family: "Open Sans";
    margin-bottom: 8px;
}


.inputItem{
    width: 304px;
    height: 48px;
}


.buttonAddItem{
    width: 152px;
    height: 40px;
    background-color: #3D3D3D;
    border-radius: 24px;
    color: #FFFFFF;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;

}

.spanAddItem{
    display: flex;
    align-items: center;
}

.fa{
    margin-right: 12px;
}



/* Footer content */
.footerOfShoppingList{
    width: 100%;
    height: 88px;
    position: fixed;
    bottom: 0px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px;
}




/* Button to click and checkout*/
.buttonCheckout{
    width: 144px;
    height: 38px;
    background-color: #3D3D3D;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: "Open Sans";
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}


.textTotal{
    color: #CCCCCC;
    font-family: "Open Sans";
}


th, .buttonHeaderTable{
    font-size: 14px;
    font-family: "Open Sans";
    color: #A3A3A3;
    font-weight: normal;
}

.buttonHeaderTable{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.spanAngleUpDown{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}
